.newpost-container {
    /* display: flex; */
    padding: 10px 15px;
    border-bottom: .5px solid #E3E3E3;
    display: none;
}

.user-image {
    padding: 0 3px;
    margin-left: 10px
}


.newpost-container input {
    border: 1px solid #A2A2A2;
    padding: 10px 20px;
    border-radius: 30px;
    width: 650px;
    margin: 0 10px;
    outline: none;
    font-size: 13px;
    transition: all .3s ease-in;
}

.attatch-button{
    font-size: 23px;
    color : dodgerblue;
}

.attatch-button-holder{
    margin : 3px 10px;
}

@media only screen and (min-width: 600px){
    .newpost-container{
        display: flex;
    }
}