.nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-ul > li:nth-child(1){
    margin-right: auto;   
}
.nav-ul > li:nth-child(2){
    margin-left: auto;
    margin-right: auto;
}
.nav-ul > li:nth-child(3){
    margin-left: auto;
}
.nav-ul > li:nth-child(4){
    display: none;
}
.user-btn-holder{
    display: none;
}
.shortcut-profile-settings{
    display : none;
}

@media only screen and (min-width : 600px){
    .nav-ul > li:nth-child(1){
        margin-right: 0;
    }
    .nav-ul > li:nth-child(2){
        margin-left: 0;
        margin-right: 0;
    }
    .nav-ul > li:nth-child(3){
        margin-right: 0;
        margin-left: 0;
    }
    .nav-ul > li:nth-child(4){
        display : block;
        margin-left: auto;
        margin-right: auto;
    }
    .user-button{
        border-style: none;
        position: relative;
        outline: none;
        width : 250px;
        text-align: left;
        padding: 1px 10px;
        background-color: white;
    }
    .user-button:hover{
        cursor: pointer;
        background-color: #E8F5FD;
        border-radius: 30px;
    }
    .user-button div{
        display: inline-block;
        vertical-align: middle;
    }
    .user-btn-holder{
        margin-right: 20px;
        display: inline-block;
        position: relative;
    }
    .user-button span{
       vertical-align: middle;
       margin-left: 10px;
       font-size: 14px;
       font-weight: bold;
       display: inline-block;
    }
    .user-button span i {
        padding : 0 5px;
    }
    .shortcut-profile-settings{
        display: none;
        position : absolute;
        width : 100%;
        margin-top : 5px;
        background-color : #F1F1F1;
    }
    .shortcut-profile-settings a{
        display: block;
    }
    .show{
        display : block;
    }
}