.nav-items{
    padding : 10px 30px;
}
.nav-items a{
    text-decoration: none;
    color : #A2A2A2;
    padding : 10px;
    font-size: 20px;
}
.nav-items a:hover{
    color : #1564B2;
}

@media only screen and (min-width : 600px) {
    .nav-items{
        margin : 0;
    }
}
@media only screen and (min-width : 2500px ){
    .nav-items a{
        font-size: 35px;

    }
}