.modal-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateZ(0);
    background-color: rgba(0,0,0, 0.35);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5em 1.5em 1.5em 1.5em;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0, 0.1);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5em;
    line-height: 1;
    background: #F6F6F7;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
    outline : none;
    color : dodgerblue;
    font-size: 16px;
}

.modal-body {
    padding-top: .25em;
}


@media screen and (min-width : 500px) {
    .modal {
        left: 50%;
        top: 50%;
        height: auto;
        transform: translate(-50%, -50%);
        max-width: 30em;
        max-height: calc(100% - 1em);
    }
}