.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "header"
    "navbar"
    "feed";
  grid-template-rows: auto auto 1fr;
  grid-gap: 5px;
  /* height: 100vh; */
  font-family: 'Open Sans', sans-serif;
}

.header {
  grid-area: header;
}

.top-nav {
  grid-area: navbar;
  /* grid-column: 1/1; */
}

.trends-wrapper {
  grid-area: trends;
  display: none;
  background-color: white;
}

.feed-wrapper {
  grid-area: feed;
  /* grid-column: 1/1; */

}

.advertisment-wrapper {
  grid-area: ad;
  display: none;
  background-color: white;
}

@media only screen and (min-width: 600px) {
  .App {
    grid-template-areas:
      "navbar navbar navbar"
      "trends feed ad";
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: auto 1fr;
    grid-gap: 5px;
  }

  .advertisment-wrapper {
    display: block;
  }

  .trends-wrapper {
    display: block;
  }
  .header{
    display: none;
  }

}